:root{
    background-color: #b9936c;
}
.nav-list {
    background:#c4b7a6;
    box-shadow: 0px 0px 10px;
    padding: 20px;
    display: flex;
    justify-content: flex;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}
.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}
.cont{
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    box-shadow: 0px 0px 10px;
    padding: 20px;
    background-color: #c4b7a6;
    border-radius: 3px;
}